# Node.js dependencies
node_modules/

# Generated AMD JS Files
amd/build/

# IDE files
.idea/
*.iml
nbproject/
.vscode/

# OS specific files
.DS_Store
Thumbs.db
.directory

# Other
npm-debug.log
.sass-cache/
.eslintcache
package-lock.json

# Moodle specific
/config.php
/lib/editor/tinymce/extra/tools/temp/
**/node_modules/
**/vendor/
.idea/

# Build files
**/.sass-cache
**/build
.phpunit.result.cache

# Environment specific
.env
.DS_Store
._*
Desktop.ini
Thumbs.db
*.swp
*.swo

# Plugin specific
amd/build/
vendor/
node_modules/
